/* layout stuff */

#particles {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.box {
    margin-top: 0.5rem;
    margin-left: 0.6rem;
    padding-right: 2rem;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.flexbox {
    display: flex;
    align-items: center;
}

#icon {
    height: 7rem;
}

#title {
    margin-left: 1rem;
}

.text {
    display: inline;
    transform: translate(0, 0.2rem);
    font-size: 7rem;
}

.dash {
    margin-left: 2.3rem;
    margin-right: 4.1rem;
}

.dropdown {
    margin: 0;
    overflow: hidden;
    height: 0;
}

.dropdowntext {
    display: block;
    margin-left: 6.5rem;
    font-size: 3rem;
}

#disclaimer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 0.2rem;
    margin-right: 0.3rem;
    font-size: 1rem;
}

/* styling stuff */

body {
    background-color: gray;
}

.dynamicbox {
    border-radius: 2rem;
}

.text {
    color: white;
    font-family: Arial;
    -webkit-user-select: none;
    user-select: none;
}

/* dynamic stuff */

.dynamicbox {
    transition: background-color 0.3s, border-radius 0.3s;
}

.dynamicbox:hover {
    border-radius: 3rem;
}

#about:hover {
    background-color: #7aa3f5;
}

#projects:hover {
    background-color: #7af5d8;
}

#socials:hover {
    background-color: #f3f57a;
}

.dropdown {
    transition: margin-top 0.3s, height 0.3s;
}

.dynamicbox:hover .dropdown {
    margin-top: 1rem;
    height: 12rem;
}

.text {
    transition: color 0.3s;
}

.dynamicbox:hover .text {
    color: #555555;
}

/* responsive stuff */

